div,
nav,
input {
  box-sizing: border-box;
}

body {
  margin: 0;
  /* background-color: lightgrey; */
}

ul > li {
  list-style-type: disc;
}

li {
  padding: 3px;
}

/* utility class */
.clear-float {
  clear: both;
}

.center {
  text-align: center;
}

.italic-blue {
  font-style: italic;
  font-size: 17px;
  color: #72a0c1;
}

.btm-margin {
  margin-bottom: 2.5px;
}

.top-margin {
  margin-top: 2.5px;
}

.italic {
  font-style: italic;
}

/* head contents */
.head-container {
  background-color: #b0e0e6;
  text-align: center;
  padding: 25px;
  padding-bottom: 0;

  height: 230px;
  position: relative;
}

.head-container h1 {
  margin: 15px;
}

.side {
  width: 100%;
}

.icon {
  width: 100%;
  position: fixed;
  top: -100px;
  display: block;
  z-index: 5;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  border-radius: 50px;
}

.icon img {
  font-size: 45px;
}

/* floating menu */
.float-menu {
  width: 120px;
  background: rgba(240, 248, 255, 0.9);
  height: 350;
  padding: 10px;
  position: fixed;
  top: 140px;
  z-index: 5;
  font-size: 13px;
  text-align: left;
  transition: all 2s;
  transform: translateX(-150px);
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.float-menu > div {
  padding: 10px;
}

.float-menu a {
  text-decoration: none;
  color: black;
}

.header-left h3 {
  margin-bottom: 0px;
}
.header-left p {
  margin-top: 0px;
  position: relative;
  left: -20px;
}
.head-title {
  width: 100%;
}

.head-info {
  width: 100%;
}

.header-left {
  float: left;
}

.header-right {
  float: right;
}

.empty {
  float: none;
}

/* navbar */
.nav-container {
  display: flex;
  background-color: skyblue;
  height: 80px;
  position: sticky;
  top: 0px;
  z-index: 5;
}

.nav-container > div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}

.nav-container a {
  text-decoration: none;
  color: black;
}

.nav-container a:hover {
  background-color: #b0e0e6;
}

.height_fix {
  margin-top: -70px;
  padding-top: 70px;
}

/* main contents */
.main-container {
  background-color: white;
  padding: 25px;
}

/* overview */
.overview img {
  width: 70%;
  display: block;
  margin: auto;
  margin-bottom: 60px;
}

figure {
  text-align: center;
}

figcaption {
  font-weight: bold;
  text-align: center;
  padding-bottom: 10px;
}

/* backgrounds */
.backgrounds img {
  width: 60%;
  display: block;
  margin: auto;
  margin-bottom: 60px;
}

/* requirements */
.btm-gap {
  margin-bottom: 20px;
}

.top-gap {
  margin-top: 20px;
}

.left-list {
  position: relative;
  left: -25px;
}

.proxy-command {
  padding-left: 30px;
}

.sample-1 {
  padding-left: 55px;
  word-break: break-all;
}

.sample-1 a {
  text-decoration: none;
  color: black;
}

.test-links {
  padding-left: 60px;
  word-break: break-all;
}

.test-links a {
  font-family: "Courier New", Courier, monospace;
  color: black;
  text-decoration: none;
}

/* Grading policy */
tr:nth-child(odd) td {
  vertical-align: top;
}

.policy-table p {
  margin: 0;
}

.policy-table ul {
  margin: 0;
  padding-left: 20px;
}

.when-p > ul {
  margin-top: 16px;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  border: black;
}

.table-row > td:nth-child(1) {
  background-color: #e1ebee;
  padding: 5px;
}

.table-row h4 {
  margin: 0;
}

td,
tr {
  border: 1px solid black;
}

/* plagiarism */
.plagiarism span {
  font-weight: bold;
}

/* mobile screen */
@media only screen and (min-width: 350px) and (max-width: 500px) {
  .head-container {
    height: 450px;
  }
  .empty {
    clear: both;
  }
  .header-right {
    float: none;
  }

  .nav-container {
    /* transform: translateY(-600px); */
    display: none;
  }
  main {
    transform: translateY(-80px);
  }

  .icon {
    position: fixed;
    top: 5px;
    right: 10px;
    text-align: right;
  }

  .icon:hover + .float-menu {
    transform: translateX(-10px);
  }

  .icon:focus + .float-menu {
    transform: translateX(-10px);
  }

  .icon:active + .float-menu {
    transform: translateX(-10px);
  }

  .height_fix {
    margin-top: -0.5px;
    padding-top: 0.5px;
  }

  .overview img,
  .backgrounds img {
    width: 90%;
  }
  figcaption {
    font-size: 10px;
  }

  table,
  thead,
  tbody,
  th,
  td,
  tr {
    display: block;
  }
  th,
  td {
    padding: 10px;
    border-bottom: none;
  }
  tr {
    border: none;
  }
  .last-cell {
    border-bottom: 1px solid black;
  }
}
